@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?gruftw");
  src: url("../fonts/icomoon.eot?gruftw#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?gruftw") format("truetype"), url("../fonts/icomoon.woff?gruftw") format("woff"), url("../fonts/icomoon.svg?gruftw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="iconmoon-"], [class*=" iconmoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.iconmoon-mail:before {
  content: "\e900"; }

.iconmoon-phone:before {
  content: "\e901"; }

.iconmoon-facebook:before {
  content: "\e902"; }

.iconmoon-google:before {
  content: "\e903"; }

.iconmoon-linkedin:before {
  content: "\e904"; }

.iconmoon-twitter:before {
  content: "\e905"; }

.iconmoon-vk:before {
  content: "\e906"; }

.iconmoon-search:before {
  content: "\e907"; }

.iconmoon-cart:before {
  content: "\e908"; }

.iconmoon-arr:before {
  content: "\e909"; }

.iconmoon-close:before {
  content: "\e90b";
}
/*# sourceMappingURL=icons.css.map */
