@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?gruftw");
  src: url("../fonts/icomoon.eot?gruftw#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?gruftw") format("truetype"), url("../fonts/icomoon.woff?gruftw") format("woff"), url("../fonts/icomoon.svg?gruftw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="iconmoon-"], [class*=" iconmoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.iconmoon-mail:before {
  content: "\e900"; }

.iconmoon-phone:before {
  content: "\e901"; }

.iconmoon-facebook:before {
  content: "\e902"; }

.iconmoon-google:before {
  content: "\e903"; }

.iconmoon-linkedin:before {
  content: "\e904"; }

.iconmoon-twitter:before {
  content: "\e905"; }

.iconmoon-vk:before {
  content: "\e906"; }

.iconmoon-search:before {
  content: "\e907"; }

.iconmoon-cart:before {
  content: "\e908"; }

.iconmoon-arr:before {
  content: "\e909"; }

.iconmoon-rub:before {
  content: "\e90a"; }

.iconmoon-mobile:before {
  content: "\e942"; }

.iconmoon-close:before {
  content: "\e90b"; }

.iconmoon-add:before {
  content: "\e90c"; }

html, body, .wrapper {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #333; }

#main {
  padding-bottom: 360px; }

/* CLEAR FIX*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
.wrapper {
  height: auto;
  min-height: 100%; }

a:focus, *:focus {
  outline: none; }

.container {
  min-width: 1200px; }

.relative {
  position: relative; }

h1, .h1 {
  font-size: 24px;
  font-weight: bold; }

h2, .h2 {
  font-size: 28px;
  font-weight: 100;
  text-transform: uppercase;
  background: #fbfbfb; }
  h2 span, .h2 span {
    background: #fff;
    padding-right: 20px; }

h3, .h3 {
  font-size: 18px;
  font-weight: bold; }

h4, .h4 {
  font-size: 18px;
  text-transform: uppercase; }

.size13 {
  font-size: 13px !important; }

.size15 {
  font-size: 15px; }

.size14 {
  font-size: 14px; }

.size18 {
  font-size: 18px; }

.size22 {
  font-size: 22px; }

.size28 {
  font-size: 28px; }

.padding-md {
  padding: 15px; }

.padding-sm {
  padding: 10px; }

.light {
  font-weight: 100; }

.bold {
  font-weight: bold; }
  .bold .iconmoon-rub {
    font-weight: bold; }

.text-red {
  color: #ff5300; }

.text-dark {
  color: #333; }

.text-light-gray {
  color: #e8e8e8; }

.text-gray {
  color: #8d8d8d; }

.text-green {
  color: #00acaf !important; }

.top10 {
  margin-top: 10px; }

.top15 {
  margin-top: 15px; }

.top20 {
  margin-top: 20px; }

.top30 {
  margin-top: 30px; }

.top40 {
  margin-top: 40px; }

.btn {
  font-size: 14px;
  text-align: center;
  padding: 0px 25px;
  line-height: 33px;
  height: 37px;
  font-weight: 400;
  border-radius: 2px;
  transition: all 0.3s;
  cursor: pointer; }
  .btn:focus, .btn:active {
    box-shadow: none;
    outline: none; }
  .btn.btn-sm {
    height: 33px;
    font-size: 13px;
    line-height: 31px;
    padding: 0px 20px; }
  .btn.btn-xs {
    height: 26px;
    font-size: 13px;
    line-height: 24px;
    padding: 0px 15px;
    font-weight: normal; }
  .btn.btn-icon {
    padding: 0;
    width: 37px; }
  .btn ~ .btn {
    margin-left: 10px; }

.btn-green {
  background: #00acaf;
  color: #fff; }
  .btn-green:hover, .btn-green:focus {
    box-shadow: 0px 0 110px rgba(0, 0, 0, 0.2) inset;
    color: #fff; }

.btn-border {
  border: 1px solid #00acaf;
  color: #00acaf;
  background: #fff; }
  .btn-border:hover, .btn-border:focus {
    background: #00acaf;
    color: #fff; }

.btn-group.btn-center {
  display: table;
  margin-left: auto;
  margin-right: auto; }
.btn-group .btn {
  border-radius: 0; }
  .btn-group .btn:first-of-type {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .btn-group .btn:last-of-type {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
  .btn-group .btn ~ .btn {
    margin-left: 0px; }

.form-control {
  height: 37px;
  line-height: 37px;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  padding: 0 15px;
  box-shadow: none;
  font-size: 13px;
  transition: all 0.3s; }
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #8d8d8d;
    background: #fff; }

header {
  background: #fff;
  border-bottom: 1px solid #00acaf;
  height: 96px;
  padding: 18px 0; }
  header .nav-main {
    text-transform: uppercase; }
    header .nav-main > li {
      position: relative; }
      header .nav-main > li.active > a, header .nav-main > li.active > a:focus, header .nav-main > li.active > a:hover {
        background: transparent;
        color: #00c0c3;
        text-decoration: underline; }
      header .nav-main > li ~ li:before {
        content: "";
        position: absolute;
        top: 4px;
        height: 32px;
        width: 1px;
        left: -3px;
        background: #e8e8e8; }
      header .nav-main > li > a {
        color: #00c0c3;
        padding: 12px 31px;
        font-weight: 100;
        font-size: 14px; }
        header .nav-main > li > a:focus, header .nav-main > li > a:hover {
          background: transparent; }
  header .nav-header-top {
    margin: -11px -8px 7px 0px;
    font-size: 12px;
    float: right; }
    header .nav-header-top > li > a {
      color: #333;
      text-decoration: underline;
      padding: 0 10px; }
      header .nav-header-top > li > a:focus, header .nav-header-top > li > a:hover {
        background: transparent; }
  header .header-basket {
    padding: 10px 2px 0px 60px;
    display: inline-block;
    position: relative;
    height: 50px;
    float: right;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    header .header-basket img {
      position: absolute;
      top: 17px;
      left: 10px;
      width: 25px; }

.search-form {
  position: relative;
  margin: -3px 63px -1px 30px; }
  .search-form .input-search {
    background: #f3f3f3;
    border: 1px solid #f3f3f3; }
    .search-form .input-search:focus {
      border: 1px solid #8d8d8d;
      background: #fff; }
  .search-form .icon-search {
    position: absolute;
    right: 10px;
    top: 9px;
    background: url(../img/search.svg);
    background-size: contain;
    border: 0;
    padding: 0;
    height: 20px;
    width: 20px; }

.search-result {
  background: #fff;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 37px;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 2; }
  .search-result .nav > li {
    border-bottom: 1px solid #e8e8e8; }
    .search-result .nav > li + li {
      margin: 0; }
    .search-result .nav > li > a {
      color: #333;
      display: inline-block;
      width: 100%;
      transition: all 0.3s; }
      .search-result .nav > li > a .iconmoon-rub {
        font-weight: bold; }

.breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 20px; }
  .breadcrumb > li {
    color: #8d8d8d; }
    .breadcrumb > li a {
      color: #333; }
    .breadcrumb > li + li:before {
      padding: 0 7px 0 3px;
      color: #ccc;
      content: "\\"; }

aside .nav > li.active > a, aside .nav > li.active > a:hover {
  background: #00acaf;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  border-color: transparent; }
  aside .nav > li.active > a:after, aside .nav > li.active > a:hover:after {
    background-image: url(../img/arr_white.svg); }
aside .nav > li + li {
  margin: 0; }
aside .nav > li > a {
  height: 50px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #333;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
  padding: 0px 60px 0 20px;
  line-height: 16px;
  transition: all 0.3s; }
  aside .nav > li > a:after {
    content: "";
    background: url(../img/arr.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 18px;
    position: absolute;
    right: 26px;
    top: 16px; }
  aside .nav > li > a:hover {
    background: transparent;
    color: #00acaf; }
    aside .nav > li > a:hover:after {
      background-image: url(../img/arr_green.svg); }

footer {
  background: url("../img/footer-bg.jpg");
  background-size: cover;
  color: #8d8d8d;
  padding: 20px  0;
  position: relative;
  margin-top: -300px;
  clear: both; }
  footer h4 {
    color: #333;
    border-bottom: 2px solid #d8d8d8;
    padding-bottom: 15px; }
  footer .nav.nav-icons [class^="iconmoon-"] {
    margin-right: 5px; }
  footer .nav.nav-social {
    margin-bottom: 20px; }
    footer .nav.nav-social > li > a {
      color: #686869;
      height: 30px;
      width: 30px;
      margin-right: 10px;
      background: #d0d0d0;
      border-radius: 2px;
      line-height: 28px;
      font-size: 14px;
      transition: all 0.2s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      footer .nav.nav-social > li > a:hover {
        background: #00acaf;
        color: #fff; }
  footer .nav > li > a {
    color: #8d8d8d;
    padding: 0;
    line-height: 28px; }
    footer .nav > li > a:hover {
      background: transparent; }
  footer .line {
    height: 1px;
    background: #d8d8d8;
    margin: 20px 0; }
  footer .subscribe-form {
    position: relative; }
    footer .subscribe-form .form-control {
      opacity: 0.4;
      padding-right: 40px;
      transition: all 0.3s; }
      footer .subscribe-form .form-control:focus {
        opacity: 1;
        border-color: transparent; }
    footer .subscribe-form .btn {
      position: absolute;
      top: 0;
      right: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      padding: 0 13px;
      color: #006668;
      font-size: 14px; }
  footer .copyright {
    font-size: 12px;
    font-weight: 100; }

.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
  background-image: url(../img/arrow.svg);
  height: 50px;
  width: 50px;
  background-size: contain;
  margin-top: -25px; }
.main-slider .swiper-button-prev {
  left: 40px; }
.main-slider .swiper-button-next {
  right: 40px;
  transform: rotate(180deg); }

.product-wrapper {
  margin: 0 -7px; }

.product-item {
  width: 206px;
  height: 361px;
  margin: 7px;
  float: left;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative; }
  .product-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  .product-item .label {
    position: absolute;
    top: 20px;
    left: 0;
    color: #fff;
    background: #ffcd00;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding: 8px 15px 8px 22px;
    border-radius: 0; }
  .product-item .image {
    width: 186px;
    height: 186px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 10px;
    background: #fbfbfb; }
    .product-item .image img {
      max-width: 100%;
      max-height: 100%; }
  .product-item .title {
    color: #333;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    display: block; }
    .product-item .title:hover {
      color: #00acaf;
      text-decoration: none; }
  .product-item .price-block {
    margin: 16px 0;
    color: #8d8d8d; }
    .product-item .price-block ul {
      list-style-type: none;
      padding: 0; }
      .product-item .price-block ul li {
        display: inline-block;
        width: 100%; }
        .product-item .price-block ul li + li {
          line-height: 22px; }
        .product-item .price-block ul li .bold {
          color: #333; }
  .product-item .btn-group {
    width: 100%; }
  .product-item .btn {
    width: 50%; }

.swiper-container.gallery-top, .swiper-container.gallery-thumbs {
  width: 100%;
  height: 470px;
  margin-left: auto;
  margin-right: auto; }
  .swiper-container.gallery-top .swiper-slide, .swiper-container.gallery-thumbs .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .swiper-container.gallery-top .swiper-slide img, .swiper-container.gallery-thumbs .swiper-slide img {
      max-width: 100%;
      max-height: 100%; }
.swiper-container.gallery-top {
  height: 470px;
  width: 100%;
  background: #fbfbfb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
.swiper-container.gallery-thumbs {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0; }
  .swiper-container.gallery-thumbs .swiper-slide {
    width: 70px;
    height: 70px;
    background: #fbfbfb;
    border: 3px solid transparent; }
    .swiper-container.gallery-thumbs .swiper-slide img {
      max-height: 90%;
      max-width: 90%; }
  .swiper-container.gallery-thumbs .swiper-slide-active {
    border-color: #00acaf; }
  .swiper-container.gallery-thumbs .swiper-wrapper {
    margin-left: calc(-40% - 5px); }

.thumb-wrapper {
  padding: 10px 40px;
  position: relative; }
  .thumb-wrapper [class^="swiper-button-"] {
    width: 22px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #00acaf;
    top: 0;
    margin: 20px 0 0 0;
    background: none;
    opacity: 1;
    color: #00acaf; }
    .thumb-wrapper [class^="swiper-button-"] .iconmoon-arr {
      font-size: 18px; }
    .thumb-wrapper [class^="swiper-button-"].swiper-button-disabled {
      border-color: #e8e8e8;
      color: #e8e8e8; }
  .thumb-wrapper .swiper-button-next {
    right: 0; }
  .thumb-wrapper .swiper-button-prev {
    left: 0; }
    .thumb-wrapper .swiper-button-prev .iconmoon-arr {
      transform: rotate(180deg); }

.product-price-block {
  list-style-type: none;
  margin: 15px 0;
  padding: 10px 0;
  border-bottom: 1px dashed #8d8d8d;
  border-top: 1px dashed #8d8d8d;
  font-size: 15px;
  color: #8d8d8d;
  font-weight: 100; }
  .product-price-block li {
    display: inline-block;
    width: 100%;
    line-height: 20px; }
    .product-price-block li .big-price {
      font-size: 26px;
      color: #333; }

.product-input {
  width: 133px;
  float: left;
  margin-right: 12px;
  position: relative; }
  .product-input input {
    padding: 0 45px;
    text-align: center; }
    .product-input input:focus ~ .btn {
      border-color: #00acaf;
      background: #00acaf; }
      .product-input input:focus ~ .btn:before, .product-input input:focus ~ .btn:after {
        background: #fff; }
  .product-input .btn {
    position: absolute;
    top: 0;
    width: 37px;
    height: 37px;
    padding: 0;
    background: #fff;
    border: 1px solid #e8e8e8;
    margin: 0 !important; }
    .product-input .btn:before {
      content: "";
      width: 18px;
      height: 2px;
      background: #8d8d8d;
      border-radius: 1px;
      position: absolute;
      display: block;
      left: 9px;
      top: 16px; }
    .product-input .btn.btn-plus {
      right: 0; }
      .product-input .btn.btn-plus:after {
        content: "";
        width: 2px;
        height: 18px;
        background: #8d8d8d;
        border-radius: 1px;
        position: absolute;
        display: block;
        left: 17px;
        top: 8px; }
    .product-input .btn:hover, .product-input .btn:focus {
      outline: none;
      box-shadow: none;
      border-color: #00acaf;
      background: #00acaf; }
      .product-input .btn:hover:before, .product-input .btn:hover:after, .product-input .btn:focus:before, .product-input .btn:focus:after {
        background: #fff; }
    .product-input .btn.btn-minus {
      left: 0; }

.product-btns {
  display: inline-block;
  width: 100%; }

.panel-default {
  border: 0;
  box-shadow: none; }
  .panel-default > .panel-heading {
    color: #333;
    background-color: #fbfbfb;
    border: 0;
    padding: 0px 55px 0px 15px;
    position: relative;
    border-radius: 2px; }
    .panel-default > .panel-heading:before {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e909";
      position: absolute;
      right: 15px;
      top: 13px;
      color: #8d8d8d; }
    .panel-default > .panel-heading .panel-title {
      font-size: 14px;
      line-height: 38px; }
      .panel-default > .panel-heading .panel-title a:hover, .panel-default > .panel-heading .panel-title a:focus {
        text-decoration: none; }

.without-border.table > tbody > tr > td,
.without-border.table > tbody > tr > th {
  border: 0; }

.product-description {
  line-height: 20px; }
  .product-description p {
    margin-top: 20px; }

.viewed-wrapper {
  padding: 0px 35px;
  position: relative; }
  .viewed-wrapper .swiper-container {
    padding: 20px 0 40px 0; }
    .viewed-wrapper .swiper-container > .swiper-scrollbar {
      position: absolute;
      left: 1%;
      bottom: 16px;
      z-index: 50;
      height: 8px;
      width: 98%;
      background: #fbfbfb; }
      .viewed-wrapper .swiper-container > .swiper-scrollbar .swiper-scrollbar-drag {
        background: #00acaf;
        height: 14px;
        border-radius: 3px;
        top: -3px; }
        .viewed-wrapper .swiper-container > .swiper-scrollbar .swiper-scrollbar-drag:before {
          content: "";
          position: absolute;
          width: 11px;
          height: 8px;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
          top: 3px;
          left: 50%;
          margin-left: -5px; }
        .viewed-wrapper .swiper-container > .swiper-scrollbar .swiper-scrollbar-drag:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 8px;
          background: #fff;
          top: 3px;
          left: 50%;
          margin-left: -0.5px; }
  .viewed-wrapper [class^="swiper-button-"] {
    width: 22px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #00acaf;
    top: 50%;
    margin: -35px 0 0 0;
    background: none;
    opacity: 1;
    color: #00acaf; }
    .viewed-wrapper [class^="swiper-button-"] .iconmoon-arr {
      font-size: 18px; }
    .viewed-wrapper [class^="swiper-button-"].swiper-button-disabled {
      border-color: #e8e8e8;
      color: #e8e8e8; }
  .viewed-wrapper .swiper-button-next {
    right: 0; }
  .viewed-wrapper .swiper-button-prev {
    left: 0; }
    .viewed-wrapper .swiper-button-prev .iconmoon-arr {
      transform: rotate(180deg); }

.modal-backdrop {
  background: #fff; }
  .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8; }

.modal-sm {
  width: 406px !important; }

.modal-header {
  border: 0;
  padding: 10px 15px 25px 15px; }
  .modal-header .close {
    margin-top: -17px;
    margin-right: -42px;
    font-size: 30px; }

.modal-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 0; }

.modal-content {
  border: 0;
  border-radius: 0;
  padding: 20px 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .modal-content form .btn {
    padding: 0 33px; }

.form-group {
  margin-bottom: 20px; }

.link-underline {
  color: #333;
  text-decoration: underline; }

.table-personal > tbody > tr > td, .table-personal > tbody > tr > th {
  padding: 10px 15px; }
  .table-personal > tbody > tr > td .detail-order-link, .table-personal > tbody > tr > th .detail-order-link {
    color: #00acaf;
    position: relative;
    padding-right: 17px; }
    .table-personal > tbody > tr > td .detail-order-link:before, .table-personal > tbody > tr > th .detail-order-link:before {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      border-radius: 2px;
      background: #00acaf;
      right: 0;
      top: 3px; }
    .table-personal > tbody > tr > td .detail-order-link:after, .table-personal > tbody > tr > th .detail-order-link:after {
      content: "";
      position: absolute;
      top: 5px;
      right: -1px;
      border: 4px solid transparent;
      border-left: 5px solid #fff; }

.round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background: #52ac62; }
  .round.yellow {
    background: #ffcc00; }
  .round.red {
    background: #da6f5b; }

.detail-info {
  padding: 15px 10px;
  margin: 20px 0;
  background: #fbfbfb;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  color: #333; }
  .detail-info li {
    float: left;
    padding: 3px 10px;
    width: 50%; }
    .detail-info li [class^="pull-"] {
      width: 50%; }

.detail-order-table {
  font-size: 14px; }
  .detail-order-table > tbody > tr > td {
    vertical-align: middle;
    border-color: #e8e8e8;
    padding: 10px 15px; }
  .detail-order-table > tbody > tr > th {
    vertical-align: middle;
    border-color: transparent;
    background: #fbfbfb;
    padding: 10px 15px; }
  .detail-order-table .img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    background: #fbfbfb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .detail-order-table .img img {
      max-width: 70px;
      max-height: 70px; }
  .detail-order-table .price {
    color: #333; }
  .detail-order-table .title {
    color: #333; }

.radio {
  display: none; }
  .radio + label {
    padding: 0 0 0 30px;
    font-weight: normal;
    position: relative;
    margin: 0; }
    .radio + label:before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 1px;
      border: 1px solid #8d8d8d;
      border-radius: 50%; }
  .radio:checked + label {
    font-weight: bold; }
    .radio:checked + label:before {
      border-color: #00acaf; }
    .radio:checked + label:after {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      left: 4px;
      top: 5px;
      background: #00acaf;
      border-radius: 50%; }

.control-label {
  font-weight: normal; }

.order-final {
  display: table;
  margin: 70px auto;
  text-align: center; }
  .order-final .btn-lg {
    padding: 0 74px;
    font-size: 15px;
    line-height: 36px;
    height: 42px;
    margin: 14px 0 25px 0; }
  .order-final .btn-green {
    margin: 19px 0;
    padding: 0 48px; }

.checkbox {
  display: none; }
  .checkbox + label {
    padding: 0 0 0 30px;
    font-weight: normal;
    position: relative;
    margin: 0; }
    .checkbox + label:before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #8d8d8d; }
  .checkbox:checked + label:before {
    border-color: #00acaf; }
  .checkbox:checked + label:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 4px;
    top: 4px;
    background: #00acaf; }

.padding-right-60 {
  padding-right: 60px; }

.msg {
  background: #fbfbfb;
  display: inline-block;
  padding: 3px 8px;
  color: #8d8d8d;
  border-radius: 2px;
  font-size: 13px; }
  .msg.yellow {
    background: #fff9df;
    color: #a87718; }

.btn-link {
  padding: 0; }

.btn-link:hover, .btn-link:focus {
  text-decoration: none;
  color: #00acaf !important; }

.basket-wrapper .detail-order-table {
  margin: 0; }
.basket-wrapper .radio + label {
  margin: 3px 0; }

.order-table {
  background: #fbfbfb; }
  .order-table > tbody > tr > td {
    padding: 5px 10px; }

.ui-selectmenu-button.ui-button {
  width: 100%;
  background: #fff;
  height: 37px;
  border-color: #e8e8e8;
  line-height: 36px;
  padding: 0 42px 0 15px;
  color: #333 !important; }
  .ui-selectmenu-button.ui-button.ui-selectmenu-button-open {
    border-color: #8d8d8d; }
  .ui-selectmenu-button.ui-button .ui-selectmenu-icon.ui-icon {
    background: #00acaf;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 37px;
    height: 37px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
    .ui-selectmenu-button.ui-button .ui-selectmenu-icon.ui-icon:before {
      display: block;
      content: "";
      background: url("../img/arrow-point-to-right.svg");
      width: 17px;
      height: 17px;
      position: absolute;
      top: 11px;
      left: 10px; }

.ui-selectmenu-menu .ui-menu {
  border: 1px solid #e8e8e8;
  border-top: 0; }
  .ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
    padding: 10px 15px; }
    .ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper.ui-state-active {
      background: #fbfbfb;
      color: #333;
      border-color: transparent; }

.product-wrapper.row.search-wrapper {
  display: table;
  margin: 0 24px 0 34px; }

.width40 {
  width: 40%; }

.width50 {
  width: 50%; }

.width50px {
  width: 50px; }

.width80px {
  width: 80px; }

.width90px {
  width: 90px; }

.width173px {
  width: 173px; }

.width200px {
  width: 200px; }

.width260px {
  width: 260px; }

.width277px {
  width: 277px; }

.width400px {
  width: 400px; }

/*# sourceMappingURL=style.css.map */
