@import "mixins";
@import "icons";
@import "colors";

html,body,.wrapper {
  height: 100%;
}

body{
  font-family:  'Open Sans', sans-serif;
  font-size: 13px;
  color: #333;
}

#main { padding-bottom: 360px; }

/* CLEAR FIX*/
.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.wrapper{
  height: auto;
  min-height: 100%;
}

a:focus,*:focus {
  outline: none;
}
.container{
  min-width: 1200px;
}

.relative{
  position: relative;
}

h1, .h1{
  font-size: 24px;
  font-weight: bold;
}

h2, .h2{
  font-size: 28px;
  font-weight: 100;
  text-transform: uppercase;
  background: $light_gray;
  span{
    background: #fff;
    padding-right: 20px;
  }
}


h3, .h3{
  font-size: 18px;
  font-weight: bold;
}

h4, .h4{
  font-size: 18px;
  text-transform: uppercase;
}

.size13{
  font-size: 13px!important;
}
.size15{
  font-size: 15px;
}

.size14{
  font-size: 14px;
}

.size18{
  font-size: 18px;
}

.size22{
  font-size: 22px;
}

.size28{
  font-size: 28px;
}

.padding-md{
  padding: 15px;
}

.padding-sm{
  padding: 10px;
}

.light{
  font-weight: 100;
}
.bold{
  font-weight: bold;
  .iconmoon-rub{
    font-weight: bold;
  }
}

.text-red{
  color: #ff5300;
}

.text-dark{
  color: #333;
}

.text-light-gray{
  color: $gray;
}

.text-gray{
  color: #8d8d8d;
}
.text-green{
  color: $green!important;
}


.top10{
  margin-top: 10px;
}

.top15{
  margin-top: 15px;
}

.top20{
  margin-top: 20px;
}

.top30{
  margin-top: 30px;
}

.top40{
  margin-top: 40px;
}

.btn{
  font-size: 14px;
  text-align: center;
  padding: 0px 25px;
  line-height: 33px;
  height: 37px;
  font-weight: 400;
  border-radius: 2px;
  transition: all 0.3s;
  cursor: pointer;
  &:focus,&:active{
    box-shadow: none;
    outline: none;
  }
  &.btn-sm{
    height: 33px;
    font-size: 13px;
    line-height: 31px;
    padding: 0px 20px;
  }
  &.btn-xs{
    height: 26px;
    font-size: 13px;
    line-height: 24px;
    padding: 0px 15px;
    font-weight: normal;
  }
  &.btn-icon {
    padding: 0;
    width: 37px;
  }
  &~.btn{
    margin-left: 10px;
  }
}

.btn-green{
  background: $green;
  color: #fff;
  &:hover,&:focus{
    box-shadow: 0px 0 110px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
  }
}

.btn-border{
  border: 1px solid $green;
  color:$green;
  background: #fff;
  &:hover,&:focus{
    background: $green;
    color: #fff;
  }
}

.btn-group{
  &.btn-center{
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  .btn{
    border-radius: 0;
    &:first-of-type{
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-of-type{
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    &~.btn{
      margin-left: 0px;
    }
  }
}

.form-control{
  height: 37px;
  line-height: 37px;
  border-radius: 2px;
  border: 1px solid $gray;
  padding: 0 15px;
  box-shadow: none;
  font-size: 13px;
  transition: all 0.3s;

  &:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid $dark_gray;
    background: #fff;
  }
}

header{
  background: #fff;
  border-bottom: 1px solid #00acaf;
  height: 96px;
  padding: 18px 0;

  .nav-main{
    text-transform: uppercase;
    &>li {
      position: relative;
      &.active>a, &.active>a:focus, &.active>a:hover{
        background: transparent;
        color: #00c0c3;
        text-decoration: underline;
      }
      &~li:before{
        content: "";
        position: absolute;
        top: 4px;
        height: 32px;
        width: 1px;
        left: -3px;
        background: $gray;
      }
      & > a {
        color: #00c0c3;
        padding: 12px 31px;
        font-weight: 100;
        font-size: 14px;
        &:focus, &:hover{
          background: transparent;
        }
      }
    }
  }

  .nav-header-top{
    margin: -11px -8px 7px 0px;
    font-size: 12px;
    float: right;
    &>li>a{
      color: #333;
      text-decoration: underline;
      padding: 0 10px;
      &:focus, &:hover{
        background: transparent;
      }
    }
  }

  .header-basket{
    padding: 10px 2px 0px 60px;
    display: inline-block;
    position: relative;
    height: 50px;
    float: right;
    margin-top: 10px;
    @include center();
    img{
      position: absolute;
      top: 17px;
      left: 10px;
      width: 25px;
    }
  }
}

.search-form{
  position: relative;
  margin: -3px 63px -1px 30px;
  .input-search{
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    &:focus{
      border: 1px solid $dark_gray;
      background: #fff;
    }
  }
  .icon-search{
    position: absolute;
    right: 10px;
    top: 9px;
    background: url(../img/search.svg);
    background-size: contain;
    border: 0;
    padding: 0;
    height: 20px;
    width: 20px;
  }
}


.search-result {
  background: #fff;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 37px;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  z-index: 2;
  .nav>li{
    border-bottom: 1px solid $gray;
    &+li{
      margin: 0;
    }
    &>a {
      color: #333;
      display: inline-block;
      width: 100%;
      transition: all 0.3s;
      .iconmoon-rub{
        font-weight: bold;
      }
    }
  }
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 20px;
  &>li{
    color: #8d8d8d;
    a{
      color: #333;
    }
    &+li:before {
      padding: 0 7px 0 3px;
      color: #ccc;
      content: "\\";
    }

  }
}


aside{

  .nav{
    &>li {
      &.active>a, &.active>a:hover{
        background: $green;
        color: #fff;
        font-weight: 600;
        border-radius: 3px;
        border-color: transparent;
        &:after {
          background-image: url(../img/arr_white.svg);
        }

      }
      &+li{
        margin: 0;
      }
      & > a {
        height: 50px;
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        color: #333;
        border-bottom: 1px solid $gray;
        cursor: pointer;
        padding: 0px 60px 0 20px;
        line-height: 16px;
        transition: all 0.3s;
        &:after{
          content: "";
          background: url(../img/arr.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 10px;
          height: 18px;
          position: absolute;
          right: 26px;
          top: 16px;

        }
        &:hover{
          background: transparent;
          color: $green;
          &:after {
            background-image: url(../img/arr_green.svg);
          }
        }
      }
    }
  }
}

footer{
  background: url("../img/footer-bg.jpg");
  background-size: cover;
  color: $dark_gray;
  padding: 20px  0;
  position: relative;
  margin-top: -300px;
  clear:both;
h4{
    color: #333;
    border-bottom: 2px solid #d8d8d8;
    padding-bottom: 15px;
  }

  .nav{
    &.nav-icons{
      [class^="iconmoon-"]{
        margin-right: 5px;
      }
    }
    &.nav-social{
      margin-bottom: 20px;
      &>li>a{
        color: #686869;
        height: 30px;
        width: 30px;
        margin-right: 10px;
        background: #d0d0d0;
        border-radius: 2px;
        line-height: 28px;
        font-size: 14px;
        transition: all 0.2s;
        @include center();
        &:hover{
          background: $green;
          color: #fff;
        }
      }
    }
    &>li>a{
      color: $dark_gray;
      padding: 0;
      line-height: 28px;
      &:hover{
        background: transparent;
      }
    }
  }
  .line{
    height: 1px;
    background: #d8d8d8;
    margin: 20px 0;
  }

  .subscribe-form{
    position: relative;
    .form-control{
      opacity: 0.4;
      padding-right: 40px;
      transition: all 0.3s;

      &:focus{
        opacity: 1;
        border-color:transparent ;
      }
    }

    .btn{
      position: absolute;
      top: 0;
      right: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      padding: 0 13px;
      color: #006668;
      font-size: 14px;
    }
  }
  .copyright{
    font-size: 12px;
    font-weight: 100;
  }
}

.main-slider{
  .swiper-button-prev, .swiper-button-next{
    background-image: url(../img/arrow.svg);
    height: 50px;
    width: 50px;
    background-size: contain;
    margin-top: -25px;
  }

  .swiper-button-prev{
    left: 40px;
  }
  .swiper-button-next{
    right: 40px;
    transform: rotate(180deg);
  }
}

.product-wrapper{
  margin: 0 -7px;
}

.product-item{
  width: 206px;
  height: 361px;
  margin: 7px;
  float: left;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  padding: 10px;
  position: relative;
  &:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  .label{
    position: absolute;
    top: 20px;
    left: 0;
    color: #fff;
    background: #ffcd00;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding: 8px 15px 8px 22px;
    border-radius: 0;

  }
  .image{
    width: 186px;
    height: 186px;
    overflow: hidden;
    @include center();
    margin-bottom: 10px;
    background: $light_gray;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .title{
    color: #333;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    display: block;
    &:hover{
      color: $green;
      text-decoration: none;
    }
  }
  .price-block{
    margin: 16px 0;
    color: $dark_gray;
    ul{
      list-style-type: none;
      padding: 0;
      li{
        display: inline-block;
        width: 100%;
        &+li{
          line-height: 22px;
        }
        .bold{
          color: #333;
        }
      }
    }
  }
  .btn-group{
    width: 100%;
  }
  .btn{
    width: 50%;
  }

}


.swiper-container{

  &.gallery-top,&.gallery-thumbs {
    width: 100%;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
      @include center();
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &.gallery-top {
    height: 470px;
    width: 100%;
    background: #fbfbfb;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
  }

  &.gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;

    .swiper-slide {
      width: 70px;
      height: 70px;
      background: #fbfbfb;
      border: 3px solid transparent;
      img{
        max-height: 90%;
        max-width: 90%;
      }
    }
    .swiper-slide-active {
      border-color: $green;
    }
    .swiper-wrapper{
      margin-left:calc(-40% - 5px);
    }
  }
}

.thumb-wrapper{
  padding: 10px 40px;
  position: relative;
  [class^="swiper-button-"] {
    width: 22px;
    height: 70px;
    @include center();
    border: 1px solid $green;
    top: 0;
    margin: 20px 0 0 0;
    background: none;
    opacity: 1;
    color: $green;
    .iconmoon-arr{
      font-size: 18px;
    }

    &.swiper-button-disabled{
      border-color: $gray;
      color: $gray;
    }
  }

  .swiper-button-next{
    right: 0;
  }

  .swiper-button-prev{
    left: 0;
    .iconmoon-arr{
      transform: rotate(180deg);
    }
  }
}

.product-price-block{
  list-style-type: none;
  margin: 15px 0;
  padding: 10px 0;
  border-bottom: 1px dashed $dark_gray;
  border-top: 1px dashed $dark_gray;
  font-size: 15px;
  color: $dark_gray;
  font-weight: 100;
  li{
    display: inline-block;
    width: 100%;
    line-height: 20px;

    .big-price{
      font-size: 26px;
      color: #333;
    }
  }
}

.product-input {
  width: 133px;
  float: left;
  margin-right: 12px;
  position: relative;

  input{
    padding: 0 45px;
    text-align: center;

    &:focus ~ .btn{
      border-color: $green;
      background: $green;
      &:before, &:after{
        background: #fff;
      }
    }
  }
  .btn{
    position: absolute;
    top:0;
    width: 37px;
    height: 37px;
    padding: 0;
    background: #fff;
    border:1px solid $gray;
    margin: 0!important;

    &:before{
      content: "";
      width: 18px;
      height: 2px;
      background: #8d8d8d;
      border-radius: 1px;
      position: absolute;
      display: block;
      left: 9px;
      top: 16px;
    }
    &.btn-plus{
      right: 0;
      &:after{
        content: "";
        width: 2px;
        height: 18px;
        background: #8d8d8d;
        border-radius: 1px;
        position: absolute;
        display: block;
        left: 17px;
        top: 8px;
      }
    }
    &:hover, &:focus{
      outline: none;
      box-shadow: none;
      border-color: $green;
      background: $green;
      &:before, &:after{
        background: #fff;
      }
    }
    &.btn-minus{
      left: 0;
    }
  }
}

.product-btns{
  display: inline-block;
  width: 100%;
}
.panel-default {
  border: 0;
  box-shadow: none;
  &>.panel-heading {
    color: #333;
    background-color: #fbfbfb;
    border: 0;
    padding: 0px 55px 0px 15px;
    position: relative;
    border-radius: 2px;
    &:before {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e909";
      position: absolute;
      right: 15px;
      top: 13px;
      color: #8d8d8d;

    }
    .panel-title{
      font-size: 14px;
      line-height: 38px;
      a:hover,a:focus{
        text-decoration: none;
      }
    }
  }
}

.without-border.table>tbody>tr>td,
.without-border.table>tbody>tr>th{
  border: 0;
}

.product-description{
  line-height: 20px;
  p{
    margin-top: 20px;
  }
}

.viewed-wrapper {
  padding: 0px 35px;
  position: relative;
  .swiper-container{
    padding: 20px 0 40px 0;
    &>.swiper-scrollbar {
      position: absolute;
      left: 1%;
      bottom: 16px;
      z-index: 50;
      height: 8px;
      width: 98%;
      background: $light_gray;
      .swiper-scrollbar-drag {
        background: $green;
        height: 14px;
        border-radius: 3px;
        top: -3px;
        &:before{
          content: "";
          position: absolute;
          width: 11px;
          height: 8px;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
          top: 3px;
          left: 50%;
          margin-left: -5px;
        }
        &:after{
          content: "";
          position: absolute;
          width: 1px;
          height: 8px;
          background: #fff;
          top: 3px;
          left: 50%;
          margin-left: -0.5px;
        }
      }
    }
  }
  [class^="swiper-button-"] {
    width: 22px;
    height: 70px;
    @include center();
    border: 1px solid $green;
    top: 50%;
    margin: -35px 0 0 0;
    background: none;
    opacity: 1;
    color: $green;
    .iconmoon-arr{
      font-size: 18px;
    }

    &.swiper-button-disabled{
      border-color: $gray;
      color: $gray;
    }
  }

  .swiper-button-next{
    right: 0;
  }

  .swiper-button-prev{
    left: 0;
    .iconmoon-arr{
      transform: rotate(180deg);
    }
  }
}

.modal-backdrop{
  background: #fff;
  &.in {
    filter: alpha(opacity=50);
    opacity: .8;
  }
}

.modal-sm {
  width: 406px!important;
}

.modal-header {
  border: 0;
  padding: 10px 15px 25px 15px;
  .close {
    margin-top: -17px;
    margin-right: -42px;
    font-size: 30px;
  }
}

.modal-title{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 0;
}
.modal-content {
  border: 0;
  border-radius: 0;
  padding: 20px 40px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  form .btn{
    padding: 0 33px;
  }
}

.form-group{
  margin-bottom: 20px;
}

.link-underline{
  color: #333;
  text-decoration: underline;
}

.table-personal{
  &>tbody>tr>td,
  &>tbody>tr>th{
    padding: 10px 15px;
    .detail-order-link{
      color: $green;
      position: relative;
      padding-right: 17px;
      &:before{
        content: "";
        width:12px;
        height: 12px;
        position: absolute;
        border-radius: 2px;
        background: $green;
        right: 0;
        top:3px;
      }
      &:after{
        content: "";
        position: absolute;
        top: 5px;
        right: -1px;
        border: 4px solid transparent;
        border-left: 5px solid #fff;
      }
    }

  }
}

.round{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background: #52ac62;
  &.yellow{
    background: #ffcc00;
  }
  &.red{
    background: #da6f5b;
  }
}

.detail-info {
  padding: 15px 10px;
  margin: 20px 0;
  background: $light_gray;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  color: #333;
  li{
    float: left;
    padding: 3px 10px;
    width: 50%;
    [class^="pull-"]{
      width: 50%;
    }
  }
}

.detail-order-table{
  font-size: 14px;
  &>tbody>tr>td{
    vertical-align: middle;
    border-color: $gray;
    padding: 10px 15px;
  }

  &>tbody>tr>th{
    vertical-align: middle;
    border-color: transparent;
    background: $light_gray;
    padding: 10px 15px;;
  }
  .img{
    width: 70px;
    height: 70px;
    overflow: hidden;
    background: $light_gray;
    @include center();
    img{
      max-width: 70px;
      max-height: 70px;
    }
  }
  .price{
    color: #333;
  }
  .title{
    color: #333;
  }
}

.radio{
  display: none;
  &+label{
    padding: 0 0 0 30px;
    font-weight: normal;
    position: relative;
    margin: 0;
    &:before{
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top:1px;
      border: 1px solid $dark_gray;
      border-radius: 50%;
    }
  }
  &:checked+label{
    font-weight: bold;
    &:before{
      border-color: $green;
    }
    &:after{
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      left: 4px;
      top:5px;
      background: $green;
      border-radius: 50%;
    }
  }
}
.control-label{
  font-weight: normal;
}

.order-final {
  display: table;
  margin: 70px auto;
  text-align: center;
  .btn-lg{
    padding: 0 74px;
    font-size: 15px;
    line-height: 36px;
    height: 42px;
    margin: 14px 0 25px 0;
  }
  .btn-green {
    margin: 19px 0;
    padding: 0 48px;
  }
}


.checkbox{
  display: none;
  &+label{
    padding: 0 0 0 30px;
    font-weight: normal;
    position: relative;
    margin: 0;
    &:before{
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top:0;
      border: 1px solid $dark_gray;
    }
  }
  &:checked+label{
    &:before{
      border-color: $green;
    }
    &:after{
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      left: 4px;
      top:4px;
      background: $green;
    }
  }
}

.padding-right-60{
  padding-right: 60px;
}

.msg{
  background: $light_gray;
  display: inline-block;
  padding: 3px 8px;
  color: $dark_gray;
  border-radius: 2px;
  font-size: 13px;
  &.yellow{
    background: #fff9df;
    color: #a87718;
  }
}

.btn-link{
  padding: 0;
}
.btn-link:hover, .btn-link:focus{
  text-decoration: none;
  color: $green!important;
}

.basket-wrapper{
  .detail-order-table{
    margin: 0;
  }
  .radio+label{
    margin: 3px 0;
  }
}

.order-table{
  background: $light_gray;
  &>tbody>tr>td{
    padding: 5px 10px;
  }
}
.ui-selectmenu-button.ui-button {
  width: 100%;
  background: #fff;
  height: 37px;
  border-color: #e8e8e8;
  line-height: 36px;
  padding: 0 42px 0 15px;
  color: #333!important;
  &.ui-selectmenu-button-open{
    border-color: $dark_gray;
  }
  .ui-selectmenu-icon.ui-icon {
    background: $green;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 37px;
    height: 37px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    &:before {
      display: block;
      content: "";
      background: url("../img/arrow-point-to-right.svg");
      width: 17px;
      height: 17px;
      position: absolute;
      top: 11px;
      left: 10px;

    }

  }
}


.ui-selectmenu-menu{
  .ui-menu {
    border: 1px solid #e8e8e8;
    border-top: 0;
    .ui-menu-item-wrapper {
      padding: 10px 15px;
      &.ui-state-active {
        background: $light_gray;
        color: #333;
        border-color: transparent;
      }
    }
  }
}

.product-wrapper.row.search-wrapper {
  display: table;
  margin: 0 24px 0 34px;
}

.width40{
  width: 40%;
}

.width50{
  width: 50%;
}

.width50px{
  width: 50px;
}
.width80px{
  width: 80px;
}
.width90px{
  width: 90px;
}

.width173px{
  width: 173px;
}

.width200px{
  width: 200px;
}
.width260px{
  width: 260px;
}
.width277px{
  width: 277px;
}

.width400px{
  width: 400px;
}